<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
</head>
<body>

    <h2>Registration</h2>
    @model BankAccount.Models.UserView
    <form action="/" method="POST">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/>
        <span asp-validation-for="FirstName"></span><br>
        
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/>
        <span asp-validation-for="LastName"></span><br>
        
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span><br>
        
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span><br>

        <label asp-for="CPassword"></label>
        <input asp-for="CPassword"/>
        <span asp-validation-for="CPassword"></span><br>
        <input type="submit" value="Submit">
    </form>
    @ViewBag.success
    
    @Html.Partial("LoginForm")
</body>
</html>