<h2>Login</h2>
@model BankAccount.Models.LoginView
<form action="/login" method="post">
    <label asp-for="LogEmail"></label>
    <input asp-for="LogEmail"/>
    <span asp-validation-for="LogEmail"></span><br>
    <label asp-for="LogPassword"></label>
    <input asp-for="LogPassword"/>
    <span asp-validation-for="LogPassword"></span><br>
    <input type="submit" value="Login">
</form>